/.build
/bin
/CHANGELOG.txt
/editor_support
/examples
/how_to
/macos_de-quarantine.sh
/modules/*
!/modules/AST_Utils
!/modules/AST_Utils/**
!/modules/Bucket_Allocator
!/modules/Bucket_Allocator/**
!/modules/Jai_Parser
!/modules/Jai_Parser/**
!/modules/Units
!/modules/Units/**
/README.txt
/redist
*.exe
*.pdb
*.prj
*.rdi
**/.build/*
/AdventOfCode/*

/Copyright.txt

/.repo-tools/
